.admin-content {
	display: table;
	margin: 20px auto;
}
p.helptext {
	text-align: justify;
	margin: 0.6em auto;
	max-width: 12em;
}
.status-btns {
	text-align: center;
}
.status-btns div {
	display: inline-block;
	border: 1px solid #666;
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	margin: 7px;
	font-size: 1.4em;
	cursor: pointer;
}
.status-btns div:hover {
	padding: 13px;
	margin: 4px;
}
.status-btns .active {
	padding: 12px;
	margin: 5px;
}
.status-btns .open:hover,
.status-btns .open.active {
	       color: rgb(100,160,100);
	border-color: rgb(100,160,100);
}
.status-btns .closed:hover,
.status-btns .closed.active {
	       color: rgb(160,100,100);
	border-color: rgb(160,100,100);
}
.btn-contain {
	margin: auto;
	display: table;
}
.admin-content input {
	font-size: 1em;
	width: 10em;
	padding: 0.5em;
}