div.howto-content {
  text-align: center;
  max-width: 25em;
  margin: 1em auto;
}
div.howto-content p {
  text-align: left;
  margin: .6em 0;
}
div.howto-content img {
	max-width: 20em;
	width: 90%;
	margin: 5px auto;
	display: flex;
	border-radius: 3px;
	border: 2px solid #666;
}
.picker {
  border: 3px solid gray;
  border-radius: 5px;
  display:inline-block;
  margin: auto;
}
.picker > .option {
  display: inline-block;
  font-size: 1.5em;
  padding: 2px 5px;
  margin: -2px;
  border: 1.5px solid gray;
  border-radius: 2px;
  cursor: pointer;
}
.picker > .option.active{
  background-color:gray;
}
.picker-options > .picker-option {
  display: none;
}
.picker-options > .picker-option.active {
  display: inline;
}