div, p {
	font-family:'Lato','Ubuntu', sans-serif;
	font-weight:300;
}
#loadingmask 			/* element that covers the page while it loads */
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background:#FFF url('/images/tiny_bridge_open.JPG') center no-repeat;
	background-size: 80%;
	filter: blur(1vw);
}
p#loadingmessage {
	position: absolute;
	top: 15vh;
	width: 100%;
	text-align:center;
	color: black;
	font-size: 2em;
	margin: auto;
	background-color: rgba(255,255,255,0.4);
	padding: .2em;
	border-radius: .2em;
}
body {
	height:100%;
	width: 100%;
	margin: auto;
}
.tiny-bg { /* might not be necessary */
  background-image: url('/images/tiny_bridge_open.JPG');
	background-size: contain;
	background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(3vw);
  overflow: hidden;
  z-index: -1;
  opacity: 1;
  will-change: opacity;
}
.tiny-bg.faded {
  animation: loaded .5s cubic-bezier(.48,.29,.76,.68);
  opacity: 0;
}
.status-display {
  z-index: -5;
	background-image: url('/images/bridge_open.JPG');
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px;
	border-radius: 3px;
}
.status-content {
	height: 100%; 
	width: 100%;
	background-color: rgba(0,0,0,.2);
	border-radius: 3px;
}
#status {
	color: #EEE;
  margin-bottom: 0.5em;
	font-size: 5em;
	-webkit-transition: color 0.5s;
		transition: color 0.5s;
	-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
}

/* modifications log */
#modifications {
  border-radius: 5px;
  padding: 10px 0;
	color: #EEE;
  margin: auto;
	width: 60%;
	max-height: 13em;
	overflow: hidden;
}
#modifications.no-gradient {
  background-color: rgba(0,0,0,.6);
}
#modifications.with-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.6)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) 80%, transparent);
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) 80%, transparent);
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) 80%, transparent);
  background-image:         linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) 80%, transparent);
}

/* each line describing a status update */
.modification-line {
	margin: 0;
	line-height: 1.4em;
}

/* sibling-specific - modifications have to get more transparent if they're later children */
#modifications > p:nth-child(6) {
  color: rgba(255,255,255,.75);
}
#modifications > p:nth-child(7) {
  color: rgba(255,255,255,.5);
}
#modifications > p:nth-child(8) {
  color: rgba(255,255,255,0);
}

.links {
	margin: auto;
	width: 278px;
	position: absolute;
	/*
	-webkit-transition: top 0.5s;
		transition: top 0.5s;
	*/
}
.links > div {
	border:1px solid #666;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	width: 39px;
	height: 39px;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	margin: 3px 8px;
	font-size: 2em;
}
.links > div.active,
.links > div:hover {
	padding: 8px;
	margin: 0 5px;
}
.links div.active,
.links div:hover {
	color: #222;
	border-color: #222;
}
.more-info {
	margin: 80px auto;
	padding: 10px;
/*
	-webkit-transition: top 0.5s;
		transition: top 0.5s;
*/
}
.links.inPic {
	bottom: 40px;
	background-color: rgba(0,0,0,.5);
	padding: 12px;
	border-radius: 3px;
}
.links.inPic div{
	color: #DDD;
	border-color: #DDD;
}
#status.moreInfoOverlay {
	color: #666;
}
.status-content.moreInfoOverlay {
  height: 100%;
	background-color: rgba(255,255,255,0.9);
}
#modifications.moreInfoOverlay {
  display: none;
}
.links.moreInfoOverlay {
	top: 9em;
}
.more-info.moreInfoOverlay {
	top: 12em;
	position: absolute;
	margin: 20px;
}

.more-info > div {
	display: none;
}

.about-content {
	margin:auto;
	width: 380px;
}
.about-content > p {
	margin: 5%;
	text-align: justify;
	line-height: 1.3em;
}
.about-content > img {
	margin: 0 5%;
	width: 90%;
	border-radius: 3px;
}

.links > .like > .count {
	position: absolute;
	top: -0.5em;
	font-size: 0.5em;
	right: 0.2em;
	background-color: white;
	border-radius: 0.7em;
	border: 1px solid #666;
	padding: 0.15em 0.2em;
}
.links.inPic > .like > .count {
	border-color: white;
	background-color: rgba(0,0,0,0.8);
	top: 0.3em;
	right: 0.3em;
}
.links > .like:hover > .count {
	top: -0.6em;
	right: 0em;
}
.links.inPic > .like:hover > .count {
	top: 0.2em;
	right: 0.2em;
}

/* media queries */
/* ----------- iPhone 5 through X ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	#modifications, .about-content {
		width: 100%;
	}
  #status {
    margin-bottom:3.2em;
	}
	div.howto-content {
		width: 90%;
	}
}
